@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  font-family: Poppins;
}
body {
  background-image: url(/assets/bg.png);
}
.title h1 {
  padding: 10px;
  width: fit-content;
  text-align: center;
  background-color: #9aff8a;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: transparent;
}
.logo {
  display: flex;
  background-color: transparent;
}
.logo img {
  margin-top: auto;
  margin-bottom: auto;
  width: 200px;
  height: 50px;
}
.title img {
  max-width: 60px;
  height: 60px;
  margin-top: 25px;
}
.back img {
  width: 100px;
  background-color: transparent;
}

.title {
  display: flex;
  flex-direction: row;
}
.headline {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
.headline span {
  background-color: #9aff8a;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.headline p {
  margin-top: 0;
}
.headline h3 {
  font-size: 32px;
  margin-bottom: 12px;
}
.garis1 {
  margin-left: 20%;
  margin-right: 20%;
}
hr {
  border-top: 5px dotted black;
}
.gambar img {
  position: relative;
  width: 267px;
  height: 379px;
  border-radius: 10px;
}
.gambar {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  padding: 5px;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
.down {
  margin-top: 50px;
}
.source {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  background-color: transparent;
}

.text {
  margin-top: 5%;
  margin-left: 12%;
  margin-right: 12%;
  text-align: justify;
  font-size: 18px;
  margin-bottom: 7%;
}
.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.kiri {
  padding-right: 30px;
}
.cards img {
  width: 258px;
  height: 333px;
  border-radius: 10px;
}

.cards {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}
.newscapt {
  position: absolute;
  margin-top: 13%;
  margin-left: 10px;
  background-color: transparent;
  max-width: 230px;
}
.newscapt p {
  background-color: transparent;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 14px;
  color: white;
  height: 70px;
}
.newscapt a {
  background-color: transparent;
  text-decoration: none;
  color: white;
}
.back {
  margin-left: 10%;
  background-color: #ecffe8;
}
.card {
  display: flex;
}
/* footer start */
.ahead {
  width: 100%;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-image: url(assets/img-beaf.png);
}
/* Footer  before*/

footer {
  width: 96%;
  background-color: #151515;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-evenly;
  color: white;
  align-items: center;
}

footer .Alternative {
  margin: 20px;
}

footer .Alternative h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

footer .Alternative ul a li {
  color: white;
  font-size: 15px;
}

footer .newsletter {
  margin-top: 28px;
  padding: 0 20px 0 20px;
}

footer .newsletter h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

footer .newsletter .input-letter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .newsletter .input-letter input {
  height: 40px;
  margin-top: 4px;
  width: 80%;
  border-radius: 5px;
}

footer .newsletter .input-letter input::placeholder {
  line-height: 40px;
  padding-left: 20px;
}

footer .newsletter .input-letter a button {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  color: black;
  font-weight: 800;
  background-color: #9aff8a;
  margin-top: 5px;
}

footer .newsletter .input-letter a button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px -5px rgba(154, 255, 138, 0.75);
  -webkit-box-shadow: 0px 0px 20px -5px rgba(154, 255, 138, 0.75);
  -moz-box-shadow: 0px 0px 20px -5px rgba(154, 255, 138, 0.75);
}

footer .newsletter .follow {
  margin-top: 5px;
}

footer .newsletter .follow h3 {
  font-size: 15px;
  margin-left: 10px;
}

footer .newsletter .follow .img-follow {
  display: flex;
  align-items: center;
}

footer .newsletter .follow .img-follow img {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

footer .information h1 {
  margin-top: -10px;
  font-size: 30px;
}

footer .information p {
  font-size: 14px;
}

footer .information p:nth-child(4) {
  font-size: 15px;
  color: #49b04d;
  font-weight: 900;
  font-family: "Rammetto One";
}

/* footer after*/

.aleg {
  width: 100%;
  height: 60px;
  background-image: url(assets/img-beaf.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
/* buat responsive */
@media only screen and (max-width: 600px) {
  * {
    max-width: 100%;
  }
  .headline h3 {
    font-size: 20px;
  }
  .headline {
    margin-left: 15%;
    margin-right: 15%;
  }
  .headline p {
    font-size: 12px;
  }
  .gambar img {
    width: 90px;
    height: 128px;
    padding-right: 6px;
  }
  .gambar {
    margin-left: 8%;
    justify-content: space-evenly;
  }
  .text {
    margin-left: 8%;
    margin-right: 8%;
    font-size: 12px;
    background-color: #ecffe8;
  }
  .source {
    font-size: 12px;
  }
  .cards img {
    width: 129px;
    height: 166.5px;
  }

  .split {
    flex-direction: column;
  }
  .kiri {
    padding-right: 0;
  }
  .tab {
    margin-left: 1em;
  }

  /*footer responsive  */
  .footercont {
    flex-direction: column;
  }
  .keys h1 {
    font-size: 24px;
  }
  .keys p {
    padding-top: 3px;
    font-size: 15px;
  }
  footer {
    background-color: #151515;

    margin-left: -2%;
    margin-right: -0.5%;
  }
  .pattern img {
    height: 50px;
  }
  .newscapt p {
    font-size: 10px;
    color: white;
  }

  .newscapt {
    max-width: 50px;
  }
  .newscapt a {
    font-size: 12px;
  }
  .cards {
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }
}

/* animasi */
.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.floating1 {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.floating2 {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floating3 {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.floatingkiri {
  animation-name: floatingkiri;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.floatingkanan {
  animation-name: floatingkiri;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* @keyframes floatingkiri {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(15px, 0px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

@keyframes floatingkanan {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 0px, 15px);
  }
  100% {
    transform: translate(0, 0px, 0px, 0);
  }
} */
/* slider */
.wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 10%;
}

.tab {
  margin-left: 4em;
}
